* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    margin: 0;
}

header {
    width: 100%;
    position: absolute;
}

nav {
}

.viatours-logo {
    width: 167px;
    height: 32px;
}

.nav-menu {
    width: 641.84px;
    text-align: center;
}

.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    list-style-type: none;
    display: list-item;
}

.nav-menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    opacity: 1 !important;
}

.nav-user ul {
    display: flex;
}

.nav-user ul li {
    list-style-type: none;
    display: list-item;
}

.nav-user ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    opacity: 1 !important;
}

.nav-user .loginBtn {
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
}

.container {
    align-items: center;
    display: flex;
    margin-left: 300px;
    margin-right: 300px;
    height: 88px;
}

main .top-section {
    margin: 30px 30px 0 30px;
    background-image: url("/img/header/main_top_river.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 854px;
    display: flex;
    justify-content: space-between;
}

main .top-section div.text-area {
    margin-top: 180px;
    margin-left: 300px;
}

main .top-section div.img-area {
    margin-top: 300px;
    margin-right: 300px;
}

main .top-section div.text-starting {
    font-size: 15px;
    font-weight: bold;
}

main .top-section div.text-iceland {
    font-size: 50px;
    font-weight: bold;
    line-height: 0cap;
}

main .top-section div.text-enjoy {
    font-size: 13px;
}

main .top-section div p.text {
    color: white;
}

main .top-section div.btn-tour {
    padding-top: 10px;
    text-align: center;
}

main .top-section div.btn-tour a {
    font-size: 10px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    display: block;
    width: 100px;
}

main .trending_destinations-section {
    color: #05073c;
    padding-left: 300px;
    padding-right: 300px;
    margin-top: 100px;
}

.trending_destinations-header {
    display: flex;
    justify-content: space-between;
}

.trending_destinations-header .text {
    font-weight: bold;
    color: #05073c;
    font-size: 30px;
}

.trending_destinations-header .all a {
    text-decoration: none;
}

.trending_destinations-list ul {
    display: flex;
    padding: 0;
    justify-content: space-between;
}

.trending_destinations-list ul li {
    align-items: center;
    display: flex;
    border: 1px solid #e7e6e6;
    border-radius: 20px;
    list-style-type: none;
    width: 300px;
    height: 152px;
    padding-left: 21px;
}

.trending_destinations-list ul li img {
    width: 110px;
    height: 110px;
}

.trending_destinations-list .text-place-info {
    margin: 10px;
}

.trending_destinations-list .place {
    font-weight: bold;
}

main .featured-trip-section {
    color: #05073c;
    padding-left: 300px;
    padding-right: 300px;
}

.featured-trip-header {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.featured-trip-header .text {
    font-weight: bold;
    color: #05073c;
    font-size: 30px;
}

.featured-trip-list {
    margin-top: 50px;
}

.featured-trip-list ul {
    display: flex;
    padding: 0;
    justify-content: space-between;
}

.featured-trip-list ul li {
    align-items: center;
    display: flex;
    list-style-type: none;
}

.featured-trip-list ul li div.featured-trip-info {
    width: 410px;
    height: 450px;
    background-image: url("/img/Featured_trips/featured_trps_1.png");
}

.featured-trip-info span {
    color: white;
}
